@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Light.otf);
  font-weight: $light;
}

@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Book.otf);
  font-weight: $normal;
}

@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Medium.otf);
  font-weight: $medium;
}

@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Bold.otf);
  font-weight: $bold;
}

@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Black.otf);
  font-weight: $bolder;
}

@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Ultra.otf);
  font-weight: $ultra;
}

