.results {
  .gallery-cell {
    width: 33.33%;
  }
}

.herobg {
  background: rgb(34, 33, 91);
  background: radial-gradient(circle, rgba(34, 33, 91, 1) 0%, rgba(12, 15, 56, 1) 100%);

  .hero-overlay {
    margin-left: 8em;
    max-width: 550px;
  }

  .main-carousel {
    right: 10%;
    display: block;
    align-self: center;

    /* .first { */
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    /* } */

    h3 {
      color: $white;
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
    }
  }
}
