//_variables.scss

//colors

$danger: #d35649;
$secondary: #98a4a5;
$alternate: #509bd7;
$white: #ecf0f1;
$black: #1e272e;


//font-family
$font-family-base: gotham, Helvetica, Georgia, sans-serif;
$font-size-base: 16px;

//font-weight

$light: 100;
$normal: 400;
$medium: 500;
$bold: 600;
$bolder: 700;
$ultra: 900;


//breakpoints
$tablet: 768px;
$desktop: 1024px;

