@import "variables";
@import "norm";
@import	 "fonts";
@import "mixin";


html {
  font-size: 16px;
  font-family: $font-family-base;
}

header {
  background-image: linear-gradient(152deg, rgba(40,40,40,0.7805322812718838) 0%, rgba(40,40,40,0.4247899843531162) 100%),  url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: static;

  &:after {
	content: "Bilieve in Yourself";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: $white;
	animation: 2s cubic-bezier(0,.93,1,-0.79) 0s 1 slideOutToLeft;
	animation-fill-mode: forwards;
  }

  .top-navbar {
	background: $danger;
	color: $white;
	padding: 1.5rem 0;
  
	ul {
	  list-style: none;
	  display: flex;
	  justify-content: space-between;
	  font-size: 1.5em;
	  text-align: center;
	  padding: 0 10rem;

	  li {
		margin: 0 .5rem;
	  }
	  
	  .text {
		display: none
	  }
	}
  }

  .hero-overlay {
	color: $white;
	width: 100%;
	max-width: 800px;
	@include  xyAlign();
	
	h1 {
	  font-weight: $ultra;
	  font-size: 1.5em;
	  text-transform: uppercase;
	  text-align: center;
	}

	form {
	  background: rgba(236,240,241,0.49);
	  padding: 2em 1em;
	  border-radius: 20px;

	  input {
		border: none;
		padding: .8em 1em;
	  }

	  label {
		color: $black;
		text-transform: uppercase;
		font-weight: $black;
		margin-bottom: .6em;
	  }
	  
	  button {
		border: none;
		background: $danger;
		margin-top: .6em;
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: $bold;
		color: $white;
		padding: .5em 0;
		border-radius: 5px;
	  }
	}
  }
}
   
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}  






