@import "variables";
@import "mixin";
@import "fonts";
@import "norm";

html {
  font-family: $font-family-base;
}
a {
  text-decoration: none;
  color: $white;
}
.herobg {

  background: url(../css/herobulb.png);
  background-size: cover;
  background-position: center;
  height: 100vh;


}
header {
    
  .top-navbar {
	background-color: $danger;
	@include textTransform(500, uppercase, $white,);
	text-align: center;
	padding: 1em 0;
	box-shadow: 0 10px 2px 1px rgba(0, 0, 0, 0.2);

	ul {
	  @include dflex(row, space-between);
	  padding: 0 4em;
	  margin-top: 2em;
	}

	.text {
	  display: none;
	}	
	.nav-links {
	  display: inline-block;
	}
  }

  .hero-overlay {
	height: 100vh;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	@include dflex(column, center, center);
	
	h1 {
	  @include textTransform(400, uppercase, $danger);
	  
	}

	form {
	  background: rgba(236, 240, 241, .3);
	  -webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);  
	  @include dflex(column);
	  width: 100%;
	  padding: 2em 1em;
	  border-radius: 10px;
	  position: relative;
	  z-index: 1;

	  & * {
		margin: .5em 0;
		padding: .5em 0;
	  }

	  label {
		@include textTransform($bolder, uppercase, $dark);
		margin-bottom: 0;
	  }

	  button {
		background-color: $danger;
		@include textTransform($bolder, uppercase, $white);
		border: none;
		border-radius: 5px;
	  }

	}


  }


}



//header ends here

//features section

.features {
  @include textTransform($w: $normal, $a:center);
  padding: 4em 2em;

  .heading {
	@include textTransform($bolder, uppercase, $danger, $a:center);
  }

  article {
	padding: 1.5em 0;

	& *{
	  padding: .3em 0;
	}
	
	i{
	  font-size: 2.5em;
	}

	h1 {
	  @include textTransform($t: uppercase, $w: $medium);
	}

	p {
	  @include textTransform($w: $light,)
	}
  }
}

//feature section ends here

//today's pick section
.todays-pick {

  $order: (1:#e17f65, 2:#98a4a5, 3:#509bd7);

  @each $ord, $color in $order {
	.todays-pick-article#{$ord} {
	  background-color: $color;
	 & button {
		color: $color;
		background-color: $white;
	  }
	}
  }

  article {
	color: white;
	padding: 2em 1em;
	
	& * {
	  margin: 1em 0;
	}

	figure {
	  width: 40%;
	  margin: 0 auto;
	}

	img {
	  width: 100%;
	  border-radius: 50%;
	}
	h3 {
	  @include textTransform($bold, uppercase, $white);
	}

	button {
	  @include textTransform($bold);
	  border-radius: 3px;
	  padding: .8em .5em;
	  border: none;
	  cursor: pointer;
	}
  }
}

footer {
  background-color: #000000;
  color: $white;
  padding: 1em 2em;
  
  & * {
	padding-block: 1em;
  }

  .footer-nav ul {
	@include textTransform($bold, uppercase, $c: $white);	
	@include dflex($jc:space-between, $fw: wrap);
	text-align: justify;
	
	li {
	  font-size:  .9em;
	}
  }

  .container-footer {
	display: none;
  }
}


////////////////////////////////////////
//results.html//////////////////////////

.filter-section {

  padding: 2em 2em;
  background-color: $white;

  h1 {
	@include textTransform($bold, $c: $dark, $a:center, $fs: 1em);
  }

  form {
	@include textTransform($medium, uppercase, $dark);
	margin-top: 1em;
	text-align: center;

	%button-filter {
		border: none;
		padding: .5em 1em;
		border-radius: 5px;
		color: $white;
		font-weight: bold;
		margin-top: .8em;
	  }
	
	.search {
	  @extend %button-filter;
	  background-color: #3867d6;
	}

	.filter {
	  @extend %button-filter;
	  background-color: #f7b731;
	}


	.dropdown-wrapper {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-wrap: wrap;
	  
	  label {
		font-size: .8em;
		margin-right: 1em;
	  }
	  	
	.select-wrapper {
	  position: relative;
	  display: inline-block;
	  margin-block: .8em;


	  &::after {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 8px solid #ccc;
		position: absolute;
		right: 10px;
		top: 45%;	
	  }

	  select {

		  -moz-appearance:none; 
		  -webkit-appearance:none; 
		  appearance:none;
		  background-color: #fff;
		  border: 1px solid #d1d8e0;
		  border-radius: 5px;
		  position: relative;
		  padding: .5em .5em;
		  padding-right: 1.8em;
		  z-index: 1;
		  background-color: transparent;
		  color: $dark;

		  option {
			background-color: #fff;
			border: none;
		  }
		}
	  }
	}
  }
}

.results {
  margin-block: 2em;
  padding-inline: 2em;
  .gallery-cell {
	width: 100%;
	max-height: 400px;
  }

  .results-content {
	position: relative;
	margin-inline: .5em;
	
	img {
	  width: 100%;
	}

	figure {
	  max-width: 30%;
	  position: absolute;
	  top: 0;
	  right: 0;
	  opacity: .85;
	  padding: 1em 1em;
	  background-color: $white;
	  border-bottom-left-radius: 20px;
	  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);



	  img {
		width: 100%;
	  }

	}
	a {
	  position: absolute;
	  max-width: 50%;
	  /* left: 50%; */
      /* transform: translate(-50%); */
	  left: 0;
	  bottom: 0;
	  background-color: $white;
	  color: $danger;
	  padding: 1.5em;
	  border-top-right-radius: 5px;
	  opacity: .85;
	  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);

	  
	  & * {
		margin-block: .3em;
	  }

	  h1 {
		text-transform: uppercase;
		color: $white;
		background-color: $dark;
		padding-block: .2em;
		padding-right: .5em;
		text-align: right;
	  }
	  
	}
  }
}



