@import "variables";
@import "mixin";
@import "fonts";
@import "norm";

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

header {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  .top-navbar {
	background-color: $danger;
	@include textTransform(500, uppercase, $white, 1em);
	text-align: center;
	padding: 1em 0;

	ul {
	  @include dflex(row, space-between);
	  padding: 0 4em;
	  margin-top: 2em;
	}

	.text {
	  display: none;
	}	
	.nav-links {
	  display: inline-block;
	}
  }

  .hero-overlay {
	height: 100vh;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	@include dflex(column, center, center);
	
	h1 {
	  @include textTransform(400, uppercase, $danger);
	  
	}

	form {
	  background: rgba(236, 240, 241, .3);
	  -webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);  
	  @include dflex(column);
	  width: 100%;
	  padding: 2em 1em;
	  border-radius: 10px;

	  label {
		@include textTransform(500, uppercase, $secondary);
	  }

	}


  }


}

//header ends here

//features section

.features {
  @include textTransform($w: $normal, $a:center);
  padding: 4em 2em;

  .heading {
	@include textTransform($bolder, uppercase, $danger, 1em, center);
  }

  article {
	padding: 1.5em 0;

	& *{
	  padding: .3em 0;
	}
	
	i{
	  font-size: 2.5em;
	}

	h1 {
	  @include textTransform($t: uppercase, $w: $medium);
	}

	p {
	  @include textTransform($w: $light, $fs: .9em)
	}
  }
}

//feature section ends here

//today's pick section


