@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Book.otf);
  font-weight: 400;
}
@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Black.otf);
  font-weight: 700;
}
@font-face {
  font-family: gotham;
  src: url(../fonts/Gotham/Gotham/Gotham-Ultra.otf);
  font-weight: 900;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-family: gotham, Helvetica, Georgia, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ecf0f1;
}

header {
  background: url(../css/herobulb.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header .top-navbar {
  background-color: #d35649;
  font-weight: 500;
  text-transform: uppercase;
  color: #ecf0f1;
  font-size: 1em;
  text-align: center;
  padding: 1em 0;
}
header .top-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4em;
  margin-top: 2em;
}
header .top-navbar .text {
  display: none;
}
header .top-navbar .nav-links {
  display: inline-block;
}
header .hero-overlay {
  height: 100vh;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hero-overlay h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #d35649;
}
header .hero-overlay form {
  background: rgba(236, 240, 241, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 1em;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
header .hero-overlay form * {
  margin: 0.5em 0;
  padding: 0.5em 0;
}
header .hero-overlay form label {
  font-weight: 700;
  text-transform: uppercase;
  color: #57606f;
  margin-bottom: 0;
}
header .hero-overlay form button {
  background-color: #d35649;
  font-weight: 700;
  text-transform: uppercase;
  color: #ecf0f1;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
}

.features {
  font-weight: 400;
  color: #1e272e;
  text-align: center;
  padding: 4em 2em;
}
.features .heading {
  font-weight: 700;
  text-transform: uppercase;
  color: #d35649;
  font-size: 1em;
  text-align: center;
}
.features article {
  padding: 1.5em 0;
}
.features article * {
  padding: 0.3em 0;
}
.features article i {
  font-size: 2.5em;
}
.features article h1 {
  font-weight: 500;
  text-transform: uppercase;
  color: #1e272e;
}
.features article p {
  font-weight: 100;
  color: #1e272e;
  font-size: 0.9em;
}

.todays-pick .todays-pick-article1 {
  background-color: #e17f65;
}
.todays-pick .todays-pick-article1 button {
  color: #e17f65;
  background-color: #ecf0f1;
}
.todays-pick .todays-pick-article2 {
  background-color: #98a4a5;
}
.todays-pick .todays-pick-article2 button {
  color: #98a4a5;
  background-color: #ecf0f1;
}
.todays-pick .todays-pick-article3 {
  background-color: #509bd7;
}
.todays-pick .todays-pick-article3 button {
  color: #509bd7;
  background-color: #ecf0f1;
}
.todays-pick article {
  color: white;
  padding: 2em 1em;
}
.todays-pick article * {
  margin: 1em 0;
}
.todays-pick article figure {
  width: 40%;
  margin: 0 auto;
}
.todays-pick article img {
  width: 100%;
  border-radius: 50%;
}
.todays-pick article h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #ecf0f1;
}
.todays-pick article button {
  font-weight: 600;
  color: #1e272e;
  border-radius: 3px;
  padding: 0.8em 0.5em;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #000000;
  color: #ecf0f1;
  padding: 1em 2em;
}
footer * {
  padding-block: 1em;
}
footer .footer-nav ul {
  font-weight: 600;
  text-transform: uppercase;
  color: #ecf0f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify;
}
footer .footer-nav ul li {
  font-size: 0.9em;
}
footer .container-footer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
